.jumbotron{
    color: white;
    background-color: #864322;
}

.aHeader{
    color: white;
    background-color: #1e76bd;
}

#submit{
    background-color: #1e76bd;
}

#theForm{
    margin-bottom: 20px;
}
